.navigation {
    width: 100vw;
    padding: .5rem;
    background-color: transparent;
    z-index: 1000;

    .nav__list {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2rem;
        justify-content: center;


        .nav__item {
            font-size: 2rem;
            list-style: none;
            margin: 0 2rem;
            
            .nav__link {
                text-decoration: none;
                color: rgb(141, 92, 248);
                text-transform: uppercase;
                padding: .5rem;
            }

            .nav__link.active {
                background-color: rgb(250, 252, 112);
                border-radius: .6rem;
            }

            .add {
                display: flex;
                width: 2.2rem;
                height: 2.2rem;
                cursor: pointer;
            }
        }
    }
}